@import '_nullStyle.scss';

.wraper {
  background: #fdfdfd;
}
.section__name {
  font-size: 44px;
  font-weight: 500;
  margin-bottom: 25px;
}
.mb-20 {
  margin-bottom: 50px;
}
.container {
  max-width: 1209px;
  margin: 0 auto;
  @media (max-width: 1200px) {
    padding: 0 20px;
  }
}
//*************************************  header
.header {
  padding: 30px 0;
  .burger {
    display: flex;
    justify-content: space-between;
    &__btn {
      display: none;
      @media (max-width: 700px) {
        display: inline-block;
      }
    }
    &__btn {
      border: none;
      background: none;
    }
  }
}
//*************************************  NAVBAR
.nav {
  @media (max-width: 700px) {
    display: none;
  }
  width: 500px;
  &__list {
    display: flex;
    justify-content: space-between;
    margin-right: 4%;
  }
  &__link {
    color: #5a5a5a;
  }
}
.contacts__number {
  color: #2f80ed;
  @media (max-width: 700px) {
    display: none;
  }
}
.contacts {
  @media (min-width: 700px) {
    display: none;
  }
  display: flex;
  gap: 11px;
  &__link {
    display: inline-block;
    color: #fff;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.whatsapp {
  background: linear-gradient(161.77deg, #58d063 12.39%, #28b43e 95.77%);
}
.telegram {
  background: linear-gradient(180deg, #2aabee 0%, #229ed9 99.21%),
    linear-gradient(161.77deg, #58d063 12.39%, #28b43e 95.77%);
}
.phone {
  background: #2f80ed;
}
//*************************************  MAIN
.main {
  @media (max-width: 1200px) {
    margin: 0 20px;
  }
}
//*************************************  HERO
.hero {
  margin-bottom: 100px;
  padding: 35px 40px;
  background: url(../img/Rectangle\ 6.png) center;
  width: 100%;
  border-radius: 10px;
  background-repeat: no-repeat;
  height: 530px;
  display: grid;
  grid-template-rows: 0.9fr 131px; //* phone
  justify-content: center; //* phone
  @media (min-width: 1200px) {
    grid-template-rows: 1fr 131px;
    grid-template-columns: 1fr 1fr;
  }
  &__section {
    grid-row: 2;
    display: grid;
    @media (min-width: 1200px) {
      grid-template-columns: 650px 463px;
    }
  }
  &__text > p {
    font-size: 16px;
    color: #cfcfcf;
    font-weight: 400;
  }
  &__text > h1 {
    font-weight: 500;
    font-size: 59px;
    color: #fff;
    margin-bottom: 11px;
  }
  &__text {
    color: #cfcfcf;
    font-weight: 400;
    font-size: 33px;
    @media (max-width: 1200px) {
      margin-bottom: 40px;
    }
  }
  &__book--btn {
    width: 463px;
    height: 81px;
    background: #2f80ed;
    border-radius: 9px;
    border: none;
    font-weight: 500;
    font-size: 27px;
    color: #fff;
    @media (min-width: 1200px) {
      transform: translateY(140px);
    }
  }
}

.main {
  &__about {
    @media (min-width: 1200px) {
      display: grid;
      grid-template-rows: 1fr 106px 1fr;
      grid-template-columns: 70% 30%;
      gap: 22px;
    }
    @media (max-width: 1200px) {
      display: grid;
      grid-template-rows: 1fr 0.7fr 0.7fr;
      grid-template-columns: 40% auto;
      gap: 22px;
    }
  }
  .about {
    margin-bottom: 84px;
    &__section {
      width: 100%;
      height: 100%;
    }
    &__section:nth-child(1) > p {
      font-size: 18px;
      font-weight: 500;
    }
    &__section:nth-child(1) {
      // ** for text
      display: inline-grid;
      grid-template-rows: auto auto auto auto;
      line-height: 22px;
      background: #ffffff;
      box-shadow: 0px 12.4444px 53.3333px rgba(0, 0, 0, 0.07);
      border-radius: 9px;
      padding: 40px;
      // ** for text
      // ** position PC
      @media (min-width: 1200px) {
        grid-row: 1/3;
        grid-column: 1/2;
      }
      // ** position mobile & tabletc
      @media (max-width: 1200px) {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }
    &__section:nth-child(2) {
      //background: red;
      // ** position PC
      @media (min-width: 1200px) {
        grid-row: 1/2;
        grid-column: 2/3;
      }
      // ** position mobile & tabletc
      @media (max-width: 1200px) {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column: 2/3;
      }
    }
    &__section:nth-child(3) {
      //background-color: green;
      //display: none;
      // ** position PC
      @media (min-width: 1200px) {
        grid-row: 3/4;
      }
      // ** position mobile & tabletc
      @media (max-width: 1200px) {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }
    &__section:nth-child(4) {
      //background-color: blue;
      //display: none;
      // ** position PC
      @media (min-width: 1200px) {
        grid-row: 2/4;
      }
      // ** position mobile & tabletc
      @media (max-width: 1200px) {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column: 1/2;
      }
    }
  }
  .cards {
    padding: 80px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  .card {
    display: grid;
    background: #ffffff;
    box-shadow: 0px 12.4444px 53.3333px rgba(0, 0, 0, 0.12);
    border-radius: 11px;
    overflow: hidden;
    grid-template-rows: auto 1fr minmax(40px, auto);
    // .card__image
    &__image {
      margin-bottom: 20px;
      img {
        width: 100%;
      }
    }
    // .card__desc
    &__desc {
      font-weight: 500;
      font-size: 18px;
      line-height: 110%;
      color: #555555;
      margin-bottom: 31px;
      padding: 0 18px;
    }
    // .card__price
    &__price {
      font-weight: 600;
      font-size: 33px;
      line-height: 40px;
      color: #2d9cdb;
      padding: 0 18px;
      margin-bottom: 26px;
      span {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #989898;
      }
    }
  }
  //********  facilities
  //&__facilities {
  //}
  .facilities {
    margin-bottom: 80px;
    &__cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(389px));
      gap: 20px;
    }

    &__card {
      padding: 25px;
      display: grid;
      grid-template-columns: 30% 1fr;
      align-items: center;
      overflow: hidden;
      background: #ffffff;
      box-shadow: 0px 12.4444px 53.3333px rgba(0, 0, 0, 0.12);
      border-radius: 15px;
    }
    &__img {
      margin-right: 25px;
      width: 78px;
      grid-column: 1/2;
    }
    &__title {
      font-size: 23px;
      grid-column: 2/3;
    }
  }
  //.card {
  //}
  .reviews {
    &__cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(389px, 1fr));
      gap: 20px;
    }
    &__card {
      display: grid;
      grid-template-rows: 60px 1fr;
      background: #ffffff;
      box-shadow: 0px 12.4444px 53.3333px rgba(0, 0, 0, 0.07);
      border-radius: 20px;
      padding: 29px;
    }
    &__browser {
      width: 111px;
      height: 44px;
      background: #e0e0e0;
      border-radius: 53px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
    &__value {
      font-size: 21px;
      font-weight: 500;
      letter-spacing: 5px;
    }

    &__coment {
      margin-bottom: 20px;
      //width: 326px;
      //height: 161px;
      //font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 23px;
      color: #757575;
    }

    &__user {
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: 500;
    }

    &__date {
      font-size: 18px;
      font-weight: 400;
    }
  }

  &__contacts {
    padding: 60px 0;
    display: flex;
    @media (min-width: 1200px) {
      justify-content: space-between;
      align-items: center;
    }
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
      //display: grid;
      //grid-template-rows: repeat(auto-fit, minmax(389px, 1fr));
      //gap: 20px;
    }
    .contacts__btn {
      position: relative;
      width: 193px;
      height: 48px;
      background: rgb(238, 238, 238);
      backdrop-filter: blur(4.13296px);
      border-radius: 77px;
      border: none;
    }
    .phone::before {
      content: url(../img/Phone.png);
      position: absolute;
      top: 0;
      left: 0;
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #2f80ed;
      border-radius: 50%;
    }
    .mail::before {
      content: url(../img/mail.png);
      position: absolute;
      top: 0;
      left: 0;
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #d9d9d9;
      border-radius: 50%;
    }
    .wats--up::before {
      content: url(../img/whats-Up.png);
      position: absolute;
      top: 0;
      left: 0;
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .telegram::before {
      content: url(../img/telegram.png);
      position: absolute;
      top: 0;
      left: 0;
      width: 48px;
      height: 48px;
    }
  }
}
.footer {
  box-shadow: 0px 12.4444px 53.3333px rgba(0, 0, 0, 0.07);
  border-radius: 20px 20px 0 0;
  padding: 46px 30px;
  .d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
  }
  &__number {
    width: 292px;
    height: 36px;
    font-weight: 600;
    font-size: 30px;
    text-align: right;
    color: #2f80ed;
  }
  &__navbar {
    display: flex;
    justify-content: space-between;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
  &__item {
  }
  &__link {
  }
}

// yalta location
.location__cilds {
  width: 100%;
  height: 100%;
}

@media (min-width: 900px) {
  .main__location--imgs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(100px, auto) 1fr 1fr 75px;
    gap: 20px;
    margin-bottom: 127px;
  }
  .location__cilds:nth-child(1) {
    //display: none;
    grid-column: 1/4;
    grid-row: 1/2;
  }
  .location__cilds:nth-child(2) {
    //display: none;
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .location__cilds:nth-child(3) {
    //display: none;
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .location__cilds:nth-child(4) {
    //display: none;
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .location__cilds:nth-child(5) {
    //display: none;
    grid-column: 2/4;
    grid-row: 3/4;
  }
  .location__cilds:nth-child(6) {
    //display: none;
    border: none;
    padding: 23px;
    width: 390px;
    height: 75px;
    background: #2f80ed;
    border-radius: 9px;
    grid-column: 2/3;
    grid-row: 4/5;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
}

@media (max-width: 900px) {
  .main__location--imgs {
    display: grid;
    grid-template-columns: 1fr minmax(95px, auto) 1fr;
    grid-template-rows: minmax(100px, auto) 1fr 1fr 75px;
    gap: 20px;
    margin-bottom: 127px;
  }
  .location__cilds:nth-child(1) {
    //display: none;
    grid-column: 1/4;
    grid-row: 1/2;
  }
  .location__cilds:nth-child(2) {
    //display: none;
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .location__cilds:nth-child(3) {
    //display: none;
    grid-column: 2/4;
    grid-row: 2/3;
  }
  .location__cilds:nth-child(4) {
    //display: none;
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .location__cilds:nth-child(5) {
    //display: none;
    grid-column: 3/4;
    grid-row: 3/4;
  }
  .location__cilds:nth-child(6) {
    //display: none;
    border: none;
    padding: 23px;
    background: #2f80ed;
    border-radius: 9px;
    grid-column: 1/4;
    grid-row: 4/5;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
}
